

<!DOCTYPE html><html class=''>
<head><script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<style class="cp-pen-styles">body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #27ae60;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
}


</style></head><body>

<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
				<p>{{this.nick}}</p> 
			</div>
    </div>
    
		<div id="search">
        <label for="to" class="text-info">Send Message To:</label><br><br>
        <select aria-placeholder="Add new Chat" class="form-control form-control-sm" name="sendTo" id="sendTo"
        required [(ngModel)]="model.userId">
        <option *ngFor='let resource of resourceList' [value]="resource.userId" >{{resource.userName}}</option>
        </select>
    </div>

<!-- This is for chat history show-->
		<div id="contacts">
			<ul>
          <table class="table table-inbox table-hover">
              <tbody>
                 <div class="container">
                     <div *ngFor="let gropedmessage of chatlistGroup">
                         <tr class="unread" (click)="getEachChat(gropedmessage.receiverId)">
                             <td class="view-message  dont-show">{{gropedmessage.sendTo}}</td>
                             <td class="view-message ">{{gropedmessage.chatlist.user}}</td>
                             <td class="view-message  inbox-small-cells"></td>
                             <td class="view-message  text-right">{{gropedmessage.date | date: 'dd MMMM yyyy'}}</td>
                         </tr>
                       <!-- <span>{{message}}</span> -->
                     </div>
                   </div>                               
            </tbody>
            </table>
			</ul>
		</div>

		<div id="">
        <div class="message-input user-msg-input">
            <div class="wrap">
            <input  type="submit" (click)="AddPerson(model.userId)" name="submit" class="btn btn-success btn-md text-right" value="Add">
            <input  type="submit" routerLink="/" name="submit" class="btn btn-danger btn-md text-right" value="Logout">
            </div>
            
        </div>
      </div>
  </div>
<!--Here chat will start-->
<!-- This is for private chat message show-->
	<div class="content add-scroll-y">

<div id="values" class="showChat" >
    <div class="inbox-body">
        <table class="table table-inbox table-hover">
          <tbody>
             <div class="container">
                 <div *ngFor="let message of PrivateReturnList">
                     <tr class="unread" >
                         <td class="view-message  dont-show">{{message.user}}</td>
                         <td class="view-message ">{{message.message}}</td>
                         <td class="view-message  inbox-small-cells"></td>
                         <td class="view-message  text-right">{{message.date | date: 'dd MMMM yyyy'}}</td>
                     </tr>
                   <!-- <span>{{message}}</span> -->
                 </div>
               </div>                               
        </tbody>
        </table>
    </div>
    <!-- This is for group chat message show-->
    <div class="inbox-body">
        <table class="table table-inbox table-hover">
          <tbody>
            <div class="container">
                <div *ngFor="let message of returnList">
                    <tr class="unread" >
                        <td class="view-message  dont-show">{{message.user}}</td>
                        <td class="view-message ">{{message.message}}</td>
                        <td class="view-message  inbox-small-cells"></td>
                        <td class="view-message  text-right">{{message.date | date: 'dd MMMM yyyy'}}</td>
                    </tr>
                </div>
              </div>                               
        </tbody>
        </table>
    </div>
</div>
		<div class="message-input user-msg-input">
			<div class="wrap">
			<input type="text" id="exampleFormControlTextarea2" rows="3" [(ngModel)]="message" name="message" placeholder="Write your message..." />
			
			<button class="submit" (click)="privateSendMessage(chatPairId)" name="sendbtn" id="sendmessage"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
    </div>

    <!--For group chat-->
    <!--

          <div class="message-input user-msg-input">
        <div class="wrap">
        <input type="text" id="exampleFormControlTextarea2" rows="3" [(ngModel)]="message" name="message" placeholder="Write your message..." />
        
        <button class="submit" (click)="sendMessage()" name="sendbtn" id="sendmessage"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
    </div>
    -->

	</div>
</div>

</body></html>